/* View All Orders, View All Orders With Params*/
.container {
padding-right: 0rem;
padding-left: 0rem;
margin-right: 1rem;
margin-left: 1rem;
}

.pledgeDriveHeader{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    
}

.header1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 1.5rem;
    
}

.header2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

}

.header3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

}

.header3--a {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}

.header3--a__legend {
    margin-left: 2rem;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.totals {
    text-align: right;
}

.giftTable {
    width: 75%;
}

.table {
    margin-top: 1rem;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: center;
    border-top: 1px solid #dee2e6;
}

.frequencyIcon {
    text-align: center;
}

.charts {
    width: 25%;
    margin-top: 1.5rem;
}

.sustainingMembership {
    border: 0.15rem black solid;
    padding: 0.15rem;
}

.fa {
    margin: 0.25;
}

 
/* .noOrders {
    text-align: center;
    margin: 5rem 0 5rem 0;
} */

/* Order Details View */
/* .detailsPage {
    display: flex;
    align-items: top;
}

.detailsContainer {
    padding-top: 3.5rem;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.orderHeader{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
} 

 */
