/* Colors {
    rgb(218, 63, 14),
    rgb(65, 78, 92),
    rgb(50, 55, 60),
    rgb(34, 151, 169),
    rgb(135, 159, 183),
    rgb(26, 83, 156),
    rgb(249, 249, 249),
} */
.mainContainer {
padding-right: 0rem;
padding-left: 0rem;
margin-right: 1rem;
margin-left: 1rem;
margin-bottom: 1rem;
}

.pledgeDriveHeader{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    
}

.header1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 1.5rem;
    
}

.header2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

}

.header3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 0.15rem;

}

.header3--a {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    margin-top: 0.75rem;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.totals {
    text-align: right;
}

.giftTable {
    width: 75%;
}

.table {
    margin-top: 1rem;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: center;
    border-top: 1px solid #dee2e6;
}

.tableBody {
    max-height: 40rem;
    overflow: scroll;
}

.frequencyIcon {
    text-align: center;
}

.noGifts {
    text-align: center;
    margin: 5rem 0 5rem 0;
}

.charts {
    width: 25%;
    margin-top: 1.5rem;
    padding-left: 1rem;
}

.charts--title2 {
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 0.1rem black solid;
}

.numOfDonAndNumOfGift {
    margin-top: 1rem;
}

.sustainingMembership {
    border: 0.05rem;
    padding: 1rem 0.25rem 0.25rem 0.25rem;
    border-top: 0.05rem black solid;
    margin-top: 1rem;
}

.footer {
    margin-top: 4rem;
    padding-top: 1rem;
    text-align: center;
    border-top: 0.05rem black solid;
}
